/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

:root {
   --body-color: #e4e9f7;
   --nav-color: #4070f4;
   --side-nav: #010718;
   --text-color: #fff;
   --search-bar: #f2f2f2;
   --search-text: #010718;
}

body {
   height: 100vh;
   background-color: var(--body-color);
}

body.dark {
   --body-color: #18191a;
   --nav-color: #242526;
   --side-nav: #242526;
   --text-color: #ccc;
   --search-bar: #242526;
}

nav {
   position: fixed;
   top: 0;
   left: 0;
   height: 70px;
   width: 100%;
   background-color: var(--nav-color);
   z-index: 100;
}

nav .nav-bar {
   position: relative;
   height: 100%;
   max-width: 1000px;
   width: 100%;
   background-color: var(--nav-color);
   margin: 0 auto;
   padding: 0 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
   color: var(--text-color);
   font-size: 25px;
   padding: 5px;
   cursor: pointer;
   display: none;
}

nav .nav-bar .logo a {
   font-size: 25px;
   font-weight: 600;
   color: var(--text-color);
   text-decoration: none;
}

.menu .logo-toggle {
   display: none;
}

.nav-bar .nav-link {
   display: flex;
   align-items: center;
}

.nav-bar .nav-link li {
   margin: 0 5px;
   list-style: none;
}

.nav-link li a {
   position: relative;
   font-size: 17px;
   font-weight: 400;
   color: var(--text-color);
   text-decoration: none;
   padding: 10px;
   transition: color 0.3s ease;
}

.nav-link li a::before {
   content: '';
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
   height: 6px;
   width: 6px;
   border-radius: 50%;
   background-color: var(--text-color);
   opacity: 0;
   transition: all 0.3s ease;
}

.nav-link li:hover a::before {
   opacity: 1;
}

.nav-link li:hover a {
   color: #ffe600;
}

.nav-bar .nav-buttons {
   display: flex;
}

.nav-bar .nav-buttons button {
   margin-left: 10px;
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 14px;
   font-weight: 600;
   color: var(--nav-color);
   background-color: var(--text-color);
   transition: background-color 0.3s ease;
}

.nav-bar .nav-buttons button:hover {
   background-color: var(--nav-color);
   color: var(--text-color);
   border: 1px solid var(--text-color);
}

.nav-bar .darklight-searchBox {
   display: flex;
   align-items: center;
}

.darklight-searchBox .dark-light,
.darklight-searchBox .searchToggle {
   height: 40px;
   width: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 5px;
}

.dark-light i,
.searchToggle i {
   position: absolute;
   color: var(--text-color);
   font-size: 22px;
   cursor: pointer;
   transition: all 0.3s ease;
}

.dark-light i.sun {
   opacity: 0;
   pointer-events: none;
}

.dark-light.active i.sun {
   opacity: 1;
   pointer-events: auto;
}

.dark-light.active i.moon {
   opacity: 0;
   pointer-events: none;
}

.searchToggle i.cancel {
   opacity: 0;
   pointer-events: none;
}

.searchToggle.active i.cancel {
   opacity: 1;
   pointer-events: auto;
}

.searchToggle.active i.search {
   opacity: 0;
   pointer-events: none;
}

.searchBox {
   position: relative;
}

.searchBox .search-field {
   position: absolute;
   bottom: -85px;
   right: 5px;
   height: 50px;
   width: 300px;
   display: flex;
   align-items: center;
   background-color: var(--nav-color);
   padding: 3px;
   border-radius: 6px;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
   opacity: 0;
   pointer-events: none;
   transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field {
   bottom: -74px;
   opacity: 1;
   pointer-events: auto;
}

.search-field::before {
   content: '';
   position: absolute;
   right: 14px;
   top: -4px;
   height: 12px;
   width: 12px;
   background-color: var(--nav-color);
   transform: rotate(-45deg);
   z-index: -1;
}

.search-field input {
   height: 100%;
   width: 100%;
   padding: 0 45px 0 15px;
   outline: none;
   border: none;
   border-radius: 4px;
   font-size: 14px;
   font-weight: 400;
   color: var(--search-text);
   background-color: var(--search-bar);
}

body.dark .search-field input {
   color: var(--text-color);
}

.search-field i {
   position: absolute;
   color: var(--nav-color);
   right: 15px;
   font-size: 22px;
   cursor: pointer;
}

body.dark .search-field i {
   color: var(--text-color);
}

/* Footer styles */
.footer {
   position: relative;
   width: 100%;
   top: 900px;
   background: #3586ff;
   min-height: 100px;
   padding: 20px 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.social-icon,
.menu {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0;
   flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
   list-style: none;
}

.social-icon__link {
   font-size: 20px;
   color: #fff;
   margin: 0 10px;
   display: inline-block;
   transition: 0.5s;
}

.social-icon__link:hover {
   transform: translateY(-10px);
}

.menu__link {
   font-size: 14px;
   color: #fff;
   margin: 0 10px;
   display: inline-block;
   transition: 0.5s;
   text-decoration: none;
   opacity: 0.75;
   font-weight: 250;
}

.menu__link:hover {
   opacity: 1;
}

.footer p {
   color: #000;
   margin: 15px 0 10px 0;
   font-size: 14px;
   font-weight: 400;
}

.wave {
   position: absolute;
   top: -100px;
   left: 0;
   width: 100%;
   height: 100px;
   background: url("https://i.ibb.co/wQZVxxk/wave.png");
   background-size: 1000px 100px;
}

.wave#wave1 {
   z-index: 1000;
   opacity: 1;
   bottom: 0;
   animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
   z-index: 999;
   opacity: 0.5;
   bottom: 10px;
   animation: animate 4s linear infinite !important;
}

.wave#wave3 {
   z-index: 1000;
   opacity: 0.2;
   bottom: 15px;
   animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
   z-index: 999;
   opacity: 0.7;
   bottom: 20px;
   animation: animate 3s linear infinite;
}

@keyframes animateWaves {
   0% {
      background-position-x: 1000px;
   }
   100% {
      background-position-x: 0px;
   }
}

@keyframes animate {
   0% {
      background-position-x: -1000px;
   }
   100% {
      background-position-x: 0px;
   }
}

/* Ripple effect */
.footer .ripple {
   position: absolute;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.5);
   animation: rippleEffect 1s ease-out;
}

@keyframes rippleEffect {
   to {
      transform: scale(3);
      opacity: 0;
   }
}

/* Responsive styles */
@media (max-width: 790px) {
   /* Header */
   nav .nav-bar .sidebarOpen {
      display: block;
   }

   .menu {
      position: fixed;
      height: 100%;
      width: 320px;
      left: -100%;
      top: 0;
      padding: 20px;
      background-color: var(--side-nav);
      z-index: 100;
      transition: all 0.4s ease;
   }

   nav.active .menu {
      left: 0%;
   }

   nav.active .nav-bar .navLogo {
      opacity: 0;
      transition: all 0.3s ease;
   }

   .menu .logo-toggle {
      display: block;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .logo-toggle .sidebarClose {
      color: var(--text-color);
      font-size: 24px;
      cursor: pointer;
   }

   .nav-bar .nav-link {
      flex-direction: column;
      padding-top: 30px;
   }

   .nav-link li a {
      display: block;
      margin-top: 20px;
   }

   .nav-bar .nav-buttons {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
   }

   .nav-bar .nav-buttons button {
      margin: 10px 0;
      width: 100%;
      text-align: center;
   }

/* ===== Media Queries for Mobile Responsiveness ===== */
@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu {
        left: 0;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .sidebarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-link {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-link li a {
        display: block;
        margin-top: 20px;
    }

    .nav-bar .nav-buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .nav-bar .nav-buttons button {
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }
}

/* footer */


.footer p {
    color: #000;
    margin: 15px 0 10px 0;
    font-size: 14px;
    font-weight: 400;
 }
 
 .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
 }
 
 .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
 }
 
 .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
 }
 
 .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
 }
 
 .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
 }
 
 @keyframes animateWaves {
    0% {
       background-position-x: 1000px;
    }
    100% {
       background-position-x: 0px;
    }
 }
 
 @keyframes animate {
    0% {
       background-position-x: -1000px;
    }
    100% {
       background-position-x: 0px;
    }
 }
 
 @media (max-width: 790px) {
    nav .nav-bar .sidebarOpen {
       display: block;
    }
 
    .menu {
       position: fixed;
       height: 600px;
       width: 350px;
       left: -100%;
       top: -12px;
       padding: 20px;
       background-color: var(--side-nav);
       z-index: 100;
       transition: all 0.4s ease;
    }
 
    nav.active .menu {
       left: 0%;
    }
 
    nav.active .nav-bar .navLogo {
       opacity: 0;
       transition: all 0.3s ease;
    }
 
    .menu .logo-toggle {
       display: block;
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
    }
 
    .logo-toggle .sidebarClose {
       color: var(--text-color);
       font-size: 24px;
       cursor: pointer;
    }
 
    .nav-bar .nav-link {
       flex-direction: column;
       padding-top: 30px;
    }
 
    .nav-link li a {
       display: block;
       margin-top: 20px;
    }
 
    .nav-bar .nav-buttons {
       flex-direction: column;
       align-items: center;
       margin-top: 20px;
    }
 
    .nav-bar .nav-buttons button {
       margin: 10px 120px;
       width: 100%;
       text-align: center;
    }
 
    .footer {
       
       padding: 20px;
       top: 900px;
       flex-direction: column;
       align-items: center;
       text-align: center;
    }
    
 
    .social-icon {
       margin: 10px 0;
    }
 
    .menu {
       flex-direction: column;
    }
 
    .menu__link {
       margin: 5px 0;
    }
 }
}